* {
    margin: 0;
    padding: 0;
}

.hero-image {
    position: relative;
    background-color: #000;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

.hero-image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

img {
    width: 100%;
    height: 100%;
    z-index: 0;
}

.hero-text {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 2;
    color: white;
}

.hero-text h1 {
    font-size: 5rem;
}

.hero-text p {
    text-align: center;
    font-size: 1.2rem;
}

/*shop grid layout*/

.grid-container {
    display: grid;
    margin: 50px auto;
    width: 80%;
    height: 100%;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.3em;
    overflow-y: hidden;
}

img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1/2;
    object-fit: cover;
}

.grid-item {
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.grid-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

p.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 2;
    color: var(--text-color);
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 2px;
}

/*card hovering*/

.grid-item:hover {
    transform: scale(1.1);
    transition: all 0.5s ease-out;
}

/*video section resizing and positiong*/

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    margin-top: -2%;
    margin-bottom: 5%;
}

section .display-6 {

    font-size: 2.8rem;
    margin-bottom: 3rem;
    padding: 5px;
}

iframe {
    width: 80%;
    height: 70%;
    object-fit: cover;
}

/*media quieries*/

/*mobile phone 600px and smaller*/

@media screen and (max-width: 600px) {
    .hero-text h1 {
        font-size: 2.8rem;
    }

    .hero-text p {
        text-align: center;
        font-size: 0.8rem;
        font-weight: 300;
    }

    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }

    section {
        height: 70vh;
        margin-top: -20%;
    }

    section .display-6 {
        font-size: 2rem;
        margin-bottom: 1.2rem;
    }

    iframe {
        width: 80%;
        height: 50%;
        object-fit: cover;
    }

 .grid-item {
        pointer-events: none;
    }

    .grid-item:hover {
        transform: scale(1);
    }
}

/*large phone and tablets*/

@media screen and ((min-width: 600px) and (max-width: 1000px)) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }

    p.text {
        font-size: 3rem;
        font-weight: 700;
    }

   
    

    section .display-6 {
        width: 100%;
        font-size: 2.8rem;
        margin-bottom: 0%;
        padding-bottom: 40px;
    }

    iframe {
        width: 80%;
        height: 100%;
        object-fit: cover;
    }

    .grid-item {
        pointer-events: none;
    }

    .grid-item:hover {
        transform: scale(1);
    }
}

